.container {
  padding-top: 100px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 100px;
}

.stats h1 {
  color: rgba(11, 26, 62, 1);
  font-weight: 700;
  font-size: 48px;
  line-height: 58.51px;
  font-family: "montserrat", serif;
}
.stats p {
  max-width: 683px;
  width: 100%;
  color: rgba(79, 79, 79, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  font-family: "montserrat", serif;
}
