.container {
  background-size: cover;
  background-position: center;
  padding: 50px 20px; /* Adjust padding as needed */
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2%;
  color: rgba(11, 26, 62, 1);
}

.post {
  margin-top: 30px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 70px;
  padding: 30px 10px;
}

.imgContainer {
  flex: 1;
}

.image {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 45%;
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  color: rgba(79, 79, 79, 1);
  font-size: 18px;
  font-weight: 500;

  line-height: 32px;
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 36px;
  }

  .post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    order: 2;
    /* text-align: center; */
    margin-top: 20px;
    gap: 20px;
    min-width: 100%;
  }

  .imgContainer {
    order: 1;
    text-align: center;
    min-width: 100%;
  }

  .image {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 20px;
  }

  .textContainer {
    gap: 5px;
  }
}
