.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.imgContainer {
  margin-left: -160px;
  max-width: 825px;
  height: 917px;
}

.textContainer {
  margin-top: 50px;
  padding-right: 30px;
}

.textContainer .texts:not(:last-child) {
  padding-bottom: 70px;
}

.heading {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-left: -50px;
}

.heading h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  font-family: "montserrat", sans-serif;
  color: rgba(47, 107, 246, 1);
}

.heading h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  font-family: "montserrat", sans-serif;
  color: rgba(11, 26, 62, 1);
}

.desc {
  max-width: 550px;
  width: 100%;
}

.desc p {
  color: rgba(79, 79, 79, 1);
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  font-family: "montserrat", sans-serif;
}

.btn button {
  background-color: rgba(47, 107, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  width: 191px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-align: center;
}

.container {
  margin-top: 160px;
  margin-bottom: 160px;
  max-width: 1440px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }
  .imgContainer {
    display: none;
  }

  .textContainer {
    margin-top: 0;
    padding-right: 0;
    /* text-align: center; */
    margin-left: 0;
  }

  .heading {
    margin-left: 0;
  }

  .desc {
    max-width: 100%;
  }
}
