.container {
  /* background-color: green; */
  padding: 30px 0;
  /* position: relative; */
  border: none;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
  /* height: 100%; */
}
.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-family: "suez one", serif;
  font-size: 24px;
  font-weight: 500;
  color: rgba(11, 26, 62, 1);
}
/* .logo {
  flex: 1;
} */

.links {
  display: flex;
  /* align-items: center; */
  gap: 50px;
  /* flex: 1; */
  font-weight: 500;
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
  font-family: "montserrat", serif;
}

.btn button {
  background-color: rgba(47, 107, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  width: 155px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "roboto", serif;
  border: none;
}
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 13px;
    gap: 15px;
  }
  .btn {
    background-color: rgba(47, 107, 246, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    line-height: 24px;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    border: non;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  /* .logo {
    text-align: left;
  } */
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
  .wrapper {
    padding: 30px;
  }
}
