.container {
  /* padding: 10px 0; */
  border: none;
  width: 100%;
  max-width: 1440px;
  padding: 0px 100px;
  margin: auto;
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
}
.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.lists {
  font-size: 20px;
  /* margin-bottom: 20px; */
  font-weight: 500;
  color: white;
}

.btn button {
  /* flex: 1; */
  background-color: rgba(47, 107, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  width: 183px;

  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-align: center;
}

.menu {
  display: none;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 30px;
  }
  /* Other styles for smaller screens */
}

.mobileMenu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }

  /* Other styles for smaller screens */
  .mobileMenu {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    text-align: center;
  }

  .btn button {
    font-size: 13px;
    line-height: 24px;
    max-width: 70px;

    height: 30px;
  }
  .links {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  /* .links {
    justify-content: flex-end;
  } */
  .links,
  .btn {
    display: none;
  }

  /* Other styles for smaller screens */
}
