/* Global styles for responsiveness */
.container {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  /* Add other desired styles */
}

/* Wrapper styles */
.wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px; /* Adjusted for responsiveness */
  padding: 20px; /* Added padding for better spacing */
}

/* Stats styles */
.stats {
  flex: 1 1 300px; /* Adjust width as needed */
  max-width: 300px; /* Added to limit width */
}

.stats h1 {
  color: rgba(11, 26, 62, 1);
  font-weight: 700;
  font-size: 48px; /* Reduced font size for smaller screens */
  font-family: "montserrat", sans-serif; /* Changed to sans-serif */
  margin-bottom: 10px; /* Added spacing between elements */
}

.stats p {
  color: rgba(79, 79, 79, 1);
  font-weight: 500;
  font-size: 17.5px; /* Reduced font size for smaller screens */
  line-height: 1.4; /* Adjust line height accordingly */
  font-family: "montserrat", sans-serif; /* Changed to sans-serif */
}
