.container {
  background: linear-gradient(
    to bottom,
    rgba(212, 232, 255, 1),
    rgba(255, 255, 255, 1)
  );

  padding: 150px 100px 50px 100px;

  background-size: cover;
  background-position: center;
  margin: auto;
  position: relative;
}

.title {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: -2%;
  color: rgba(11, 26, 62, 1);
  font-family: "montserrat", serif;
}

.wrapper {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.imgContainer {
  /* background-color: brown; */
  width: 100%;
  max-width: 848px;
  height: 100%;
  max-height: 360px;
  margin-left: -120px;
}

.image {
  width: 110%;
  height: 100%;
  /* width: 100%; */
  max-width: 1000px;
  /* height: 100%; */
}

.textContainer {
  /* background-color: blue; */
  width: 100%;
  max-width: 505px;
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  color: rgba(79, 79, 79, 1);

  font-family: "montserrat", sans-serif;
  max-width: 516px;
  line-height: 32px;
  font-size: 20px;
}

.btn button {
  margin-top: 30px;
  background-color: rgba(47, 107, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  width: 155px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 100px 30px;
  }

  .textContainer {
    width: 100%;
    max-width: 400px;
  }

  .image {
    width: 100%;
  }

  .title {
    font-size: 35px;
    line-height: 43px;
  }

  .postDesc {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .imgContainer {
    max-width: 600px;
    margin-left: -50px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding-bottom: 30px;
  }

  .wrapper {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgContainer {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }

  .title {
    font-size: 35px;
    line-height: 43px;
  }

  .postDesc {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
