.container {
  background: linear-gradient(
    to bottom,
    rgba(212, 232, 255, 1),
    rgba(255, 255, 255, 1)
  );
  background-size: cover;
  background-position: center;
  padding: 100px 20px; /* Adjust padding as needed */
  position: relative;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2%;
  color: rgba(11, 26, 62, 1);
  font-family: "montserrat", serif;
  max-width: 100%;
}

.post {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.imgContainer {
  flex: 1 0 45%; /* Adjust as needed */
}

.image {
  max-width: 648px;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.textContainer {
  flex: 1 0 50%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  font-size: 20px;
  font-family: "montserrat", serif;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -2%;
  max-width: 100%;
}

.btn button {
  margin-top: 30px;
  background-color: rgba(47, 107, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  width: 155px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 38px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 35px;
  }

  .post {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    order: 2;
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
  }

  .imgContainer {
    order: 1;
    text-align: center;
  }

  .postDesc {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 25px;
    text-align: center;
  }

  .post {
    margin-top: 80px; /* Adjust margin as needed */
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 20px;
  }

  .textContainer {
    gap: 5px;
  }
}
