.container {
  /* margin-top: 30px; */
  /* padding: 50px 80px; */
  background: linear-gradient(
    to bottom,
    rgba(212, 232, 255, 1),
    rgba(255, 255, 255, 1)
  );
  /* margin-top: -90px; */
  /* height: 100%; */
  background-size: cover;
  background-position: center;

  padding: 100px 0px 0px 0px; /* Adjust padding as needed */

  position: relative;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2%;
  color: rgba(11, 26, 62, 1);
  font-family: "montserrat", serif;
  /* width: 100%;
  max-width: 505px; */
}

.post {
  margin-top: 200px;
  margin: 120px auto 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* max-width: 1370px; */
  /* align-items: center; */
  /* gap: 50px; */
  padding: 30px 50px 30px 40px;
}

.imgContainer {
  flex: 1;
  /* height: 500px; */
  /* position: relative; */
  /* width: 50%; */
}

.image {
  object-fit: cover;
  max-width: 648px;
  max-height: 360px;
  /* height: 100%; */
  width: 100%;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-width: 50%; */
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  font-size: 20px;

  font-family: "montserrat", serif;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -2%;

  max-width: 502px;
  width: 100%;
}
.btn button {
  margin-top: 30px;
  background-color: rgba(47, 107, 246, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  width: 155px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }

  .post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    order: 2;
    text-align: center;
    margin-top: 20px; /* Adjust spacing if needed */
  }

  .imgContainer {
    order: 1;
    text-align: center;
  }
  /* .image {
    object-fit: contain;
    width: 420px;
    height: 200px;
  } */
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 40px;
  }
  .textContainer {
    gap: 5px;
  }
}
