.container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  /* You can adjust the height, margins, and padding as needed */
  /* height: 300px; */
  margin: 20px 0;
  padding: 10px;
}
.items {
  flex: 0 0 auto;
  /* Define individual product card styles */
  width: 556px;
  margin-right: 20px;
  border-radius: 10px;
  /* Additional styles for product card design */
  background-color: rgba(234, 248, 254, 1);
  padding: 40px 30px;
}
.title {
  text-align: center;
  font-family: "montserrat" serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 64.8px;
}
.name {
  font-weight: 600;
  font-family: "montserrat" serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(11, 26, 62, 1);
}
.role {
  font-weight: 500;
  font-family: "montserrat" serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(79, 79, 79, 1);
}

.desc {
  font-weight: 500;
  font-family: "montserrat" serif;
  font-size: 16px;
  line-height: 32px;
  color: rgba(79, 79, 79, 1);
}

.top {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}
